# Server Configuration
PORT=5001

# Database Configuration
# Replace with your own MongoDB URI
MONGODB_URI=mongodb://username:password@your-cluster.t5ihubg.mongodb.net/SmallStore?ssl=true&authSource=admin
